.place {
  display: grid;
  grid-template-columns: repeat(2, minmax(460px, 1fr));
  gap: 48px 40px;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
    gap: 48px 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 48px 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 32px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: minmax(min-content, max-content);
  }
}